﻿@page
@model AspNetWebApp.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Information" class="control-label"></label>
                <input asp-for="Product.Information" class="form-control" />
                <span asp-validation-for="Product.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <input type="hidden" id="SelectedCategory" name="SelectedCategory" asp-for="SelectedCategory" />
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label"></label><br>
                <select asp-for="SelectedCategory" asp-items="Model.Categories" onchange="onSelectedCategoryChanged(this.value)">
                    <option value="">Select a category</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function onSelectedCategoryChanged(selectedValue) {
            document.getElementById("SelectedCategory").value = selectedValue;
        }
    </script>
}
