﻿@page
@model AspNetWebApp.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="button" value="Add new field" class="btn btn-primary" onclick="onAddAttributeButtonClicked()" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            
            <input type="hidden" id="TotalNewExtraAttributes" name="TotalNewExtraAttributes" asp-for="TotalNewExtraAttributes" />

            <div class="form-group" id="submit-button">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function onAddAttributeButtonClicked() {
            const parentElement = document.getElementById("submit-button");
            
            const newDivElement = document.createElement("div");
            newDivElement.className = "form-group";
            const newLabelElement = document.createElement("label");
            newLabelElement.className = "control-label";
            newLabelElement.textContent = "New attribute name";
            const newInputElement = document.createElement("input");
            newInputElement.className = "form-control";

            const totalNewExtraAttributesNumberValue = +document.getElementById("TotalNewExtraAttributes").value;
            document.getElementById("TotalNewExtraAttributes").value = totalNewExtraAttributesNumberValue + 1;
            newInputElement.name = "dynamic-field" + document.getElementById("TotalNewExtraAttributes").value;

            parentElement.before(newDivElement);
            newDivElement.after(newLabelElement);
            newLabelElement.after(newInputElement);
        }
    </script>
}
